google-api-python-client
google-cloud-bigquery
google-cloud-pubsub
Flask==1.0.2
requests==2.20.0
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
grpcio>=1.53.2 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=3.18.3 # not directly required, pinned by Snyk to avoid a vulnerability
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.2.3 # not directly required, pinned by Snyk to avoid a vulnerability
